In [1]:
import pandas as pd
import numpy as np

In [82]:
hawa_sales = pd.read_csv("./Data/sales-summary-2023-05-04-2024-05-04.csv")
#hawa_sales = hawa_sales.transpose()
hawa_sales
hawa_sales = hawa_sales.iloc[18:,1:]
hawa_sales = hawa_sales.transpose()
hawa_sales.head()

                   18
05/04/2023  $2,285.33
05/05/2023  $2,539.09
05/06/2023  $1,939.54
05/07/2023  $1,925.72
05/08/2023  $2,908.15

In [90]:

hawa_sales.rename(columns={18: "Sales"},inplace=True)
hawa_sales.columns

Index(['Sales'], dtype='object')

In [94]:
hawa_sales.head()
hawa_sales

                Sales
05/04/2023  $2,285.33
05/05/2023  $2,539.09
05/06/2023  $1,939.54
05/07/2023  $1,925.72
05/08/2023  $2,908.15
...               ...
05/01/2024  $3,091.78
05/02/2024  $3,149.15
05/03/2024  $2,703.64
05/04/2024  $1,312.00
05/05/2024      $0.00

[368 rows x 1 columns]

In [95]:
hawa_sales["Sales"] = hawa_sales['Sales'].str.replace("[$,.]", "", regex=True).astype(int)

In [98]:
hawa_sales['Sales'] = hawa_sales['Sales'].divide(100)

In [104]:
hawa_sales.head()

              Sales
05/04/2023  2285.33
05/05/2023  2539.09
05/06/2023  1939.54
05/07/2023  1925.72
05/08/2023  2908.15

In [111]:
hawa_sales.idxmax(),hawa_sales.max()

(Sales    05/12/2023
 dtype: object,
 Sales    3708.32
 dtype: float64)